.vertical-container {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 220px;
    height: 100%;
    background-color: #f0f0f0;
    z-index: 5;
}

.vertical-menu-container{ 
    margin-top: 50px;
}

.vertical-menu-item{
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    margin-bottom: 5px;
    padding-left: 20px;
    color: #516078;
}

.menu-item-active{
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    margin-bottom: 5px;
    padding-left: 20px;
    color: #105efb;
    background-color:#e6e6e6;
    border-radius: 8px;
}

.vertical-drop-icon{
    margin-left: 30%;   
}

.vertical-menu-item:hover {
    background-color:#e6e6e6;
    border-radius: 8px;
    color: #105efb;
}

.vertical-menu-title{  
    font-size: 15px;
    font-weight: 400;
    margin-left: 12px;
}

.vertical-menu-footer{
    position: absolute;
    bottom: 15px;
    width: 100%;
    margin-left: 20px;
}


.disclamer{
    font-size: 12px;
    color: #516078;
    margin-left: 42px;  
    padding-top: 15px;
}