.vertical-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 220px;
    height: 100%;   
    background-color: #f0f0f0;
}

.vertical-menu-container{ 
    margin-top: 75px;
}

.vertical-menu-item{
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    margin-bottom: 6px;
    padding-left: 20px;
    color: #516078;
}

.vertical-drop-icon{
    margin-left: 30%;   
}

.vertical-menu-item:hover {
    background-color:#e6e6e6;
    border-radius: 8px;
    color: #105efb;
}

.vertical-menu-title{  
    font-size: 15px;
    font-weight: 400;
    margin-left: 12px;
}