.budget-page{
    display: flex;
    background-color: #fafafa;
    height: 100vh;
    margin-left: 220px;
    padding-top: 30px;  
    padding-left: 30px;
}

.budget-title{    
    font-weight: 400;
    font-size: 1.5em;
    color: rgba(0,0,0,.85);
    margin-bottom: 20px;
}

.budget-upload-container {
    max-width: 300px;
    margin-top: 15px;
    border-radius: 4px;  
    padding: 5px;
    border: 1px solid rgb(200,200,200)  
}

.budget-input-data{
    display: block;   
    width: 400px; 
}

.budget-db-select-label{
    font-size: 15px;
    color: #516078;

}

.budget-select{
    width: 120px;
    height: 35px;
    border: solid 1px rgb(211,211,211);
    font-size: 12px;
    color: #516078;
    margin-bottom: 8px;
    margin-right: 10px;
}

.budget-db-select:focus{
    outline: none
}

.budget-input{
    width: 120px;
    height: 35px;
    border: solid 1px rgb(211,211,211);
    font-size: 12px;
    color: #516078;
    margin-bottom: 8px;
    padding-left: 4px;
}

.budget-input:focus{
    outline: none
}

#budget-create-button{
    width: 300px;
    height: 40px;
    margin-top: 15px;
    font-size: 13px;
    font-weight: 500;
    background-color: #516078;
    border: solid 1px #516078;
}