.budget-page{
    display: flex;
    background-color: #fafafa;
    height: 100vh;
    margin-left: 220px;
    padding-top: 30px;  
    padding-left: 30px;
}

.budget-title{    
    font-weight: 400;
    font-size: 1.5em;
    color: rgba(0,0,0,.85);
    margin-bottom: 20px;
}

.budget-upload-container {
    max-width: 325px;
    margin-top: 15px;
    border-radius: 4px;  
    padding: 5px;
    border: 1px solid rgb(200,200,200)  
}

.budget-input-data{
    display: block;   
    width: 400px; 
}

.budget-db-select-label{
    font-size: 15px;
    color: #516078;
}

.budget-select{
    width: 120px;
    height: 35px;
    border: solid 1px rgb(211,211,211);
    font-size: 12px;
    color: #516078;
    margin-bottom: 8px;
    margin-right: 10px;
}

.budget-db-select:focus{
    outline: none
}

.budget-input{
    width: 120px;
    height: 35px;
    border: solid 1px rgb(211,211,211);
    font-size: 12px;
    color: #516078;
    margin-bottom: 8px;
    padding-left: 4px;
}

.budget-input:focus{
    outline: none
}

#budget-create-button{
    width: 325px;
    height: 40px;
    margin-top: 15px;
    font-size: 13px;
    font-weight: 500;
    background-color: #455A64;
    border: solid 1px #455A64;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

#budget-create-button:hover{
    cursor: pointer;
    background-color: #546E7A;
    border: solid 1px #546E7A;
}


#budget-create-button-disabled{
    width: 325px;
    height: 40px;
    margin-top: 15px;
    font-size: 13px;
    font-weight: 500;
    border: solid 1px #E0E0E0;
    background-color: #E0E0E0;
    color: #9E9E9E;
}

#budget-create-button-disabled:hover{
    cursor: default;
    filter: none    
}

.budget-sucess-message{
    margin-top: 10px;
    font-size: 13px;
    color: #43A047;
    font-weight: 500;
}

.budget-error-message{
    margin-top: 10px;
    font-size: 13px;
    color: #E53935;
    font-weight: 500;
}
