.import-page{
    display: flex;
    height: 100vh;
    background-color: #fafafa;
    margin-left: 220px;
    padding-top: 30px;  
    padding-left: 30px;
}

.homepage-title{    
    font-weight: 400;
    font-size: 1.5em;
    color: rgba(0,0,0,.85);
    margin-bottom: 20px;
}

.upload-container {
    width: 350px;
    margin-top: 8px;
    border-radius: 4px;  
    padding: 12px;
    border: 1px solid rgb(224,224,224);    
}

.import-input-data{
    display: block;   
    width: 400px; 
}

.import-db-select-label{
    font-size: 15px;
    color: #516078;
}

.import-db-select{
    width: 120px;
    height: 35px;
    border: solid 1px rgb(211,211,211);
    font-size: 12px;
    color: #516078;
    margin-bottom: 8px;
}

.import-db-select:focus{
    outline: none
}

#import-create-button{
    width: 325px;
    height: 40px;
    margin-top: 15px;
    font-size: 13px;
    font-weight: 500;
    background-color: #455A64;
    border: solid 1px #455A64;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

#import-create-button:hover{
    cursor: pointer;
    background-color: #546E7A;
    border: solid 1px #546E7A;
}


#import-create-button-disabled{
    width: 325px;
    height: 40px;
    margin-top: 15px;
    font-size: 13px;
    font-weight: 500;
    border: solid 1px #E0E0E0;
    background-color: #E0E0E0;
    color: #9E9E9E;
}

#import-create-button-disabled:hover{
    cursor: default;
    filter: none    
}

.import-sucess-message{
    margin-top: 10px;
    font-size: 13px;
    color: #43A047;
    font-weight: 500;
}

.import-error-message{
    margin-top: 10px;
    font-size: 13px;
    color: #E53935;
    font-weight: 500;
}